// ==========================================================================
// # Basic typographical styling
// ==========================================================================

p {
    margin: 1em 0;
}

strong {
    font-weight: fwt(bold);
}

em {
    font-style: italic;
}
