/// Generates a bunch of ::before/::after classes containing breakpoint information for debugging/later detection via
/// JavaScript
@mixin bootstrap-breakpoints($pseudo: 'before')
{
    &::#{$pseudo} {
        position:   absolute;
        visibility: hidden;
        overflow:   hidden;

        height: 0;
        width:  0;

        font-family: "#{$mq-breakpoints}";

        @each $break, $dim in $mq-breakpoints
        {
            @include mq($break)
            {
                content: quote($break);
            }
        }
    }
}
