// ==========================================================================
// # GRID MIXINS
// ==========================================================================

@mixin grid-build-at( $breakpoint, $config )
{
    // calculate unit width
    $columns: map-get($config, 'columns');
    $aliases: map-get($config, 'aliases');

    // wrap in mq
    @include mq($from: $breakpoint)
    {
        // build numeric columns
        @include grid-build-numerics($columns, str_slice($breakpoint, 0, 1));

        // build named columns
        @include grid-build-named($columns, $aliases, str_slice($breakpoint, 0, 1));
    }
}

@mixin grid-build-numerics($columns, $prefix)
{
    $uWidth: 100% / $columns;

    @for $i from 1 through $columns
    {
        .-#{$prefix}#{$i} {
            min-width: #{$uWidth * $i};
            flex:      #{$uWidth * $i};
        }
    }
}

@mixin grid-build-named($columns, $aliases, $prefix)
{
    $uWidth: 100% / $columns;

    @each $alias, $columns in $aliases
    {
        .-#{$prefix}-#{$alias} {
            min-width: #{$uWidth * $columns};
            flex:      #{$uWidth * $columns};
        }
    }
}
