// ==========================================================================
// # BASIC GRID FILE
// ==========================================================================

// # Main grid class
// ==========================================================================
.grid {
    // grab some basic configuration
    $_gutter:  map-get($grid-cfg, 'gutter');
    $_margin:  map-get($grid-cfg, 'margin');

    // start some styles
    display:   flex;
    flex-wrap: wrap;

    // note: negative margin because all columns have +ve margins
    margin: 0 rem(-#{$_gutter / 2}) rem(-$_margin);

    // # MODIFIERS
    // ==========================================================================
    &.-justify { justify-content: space-between; }
    &.-no-wrap { flex-wrap: nowrap; }

    // # GRID COLUMNS
    // ==========================================================================
    &__col {

        // base styles
        width:         auto;
        padding-left:  rem(#{$_margin / 2});
        padding-right: rem(#{$_margin / 2});
        margin-bottom: rem($_margin);

        // # Basic named variants
        // ==========================================================================
        // full-width
        &.-full {
            flex: 100%;
            max-width: 100%;
        }

        // remaining space
        &.-remaining {
            flex: 1;
        }

        // # per-responsive breakpoint
        // ==========================================================================
        @each $break, $cfg in map-get($grid-cfg, 'breakpoints')
        {
            @include grid-build-at($break, $cfg);
        }

    }
}
